@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --main-color:#2980b9;
  --black:#444;
  --bg:#fff;
  --light-bg:#eee;
  --light-color:#666;
  --border:1px solid rgba(0,0,0,.1);
  --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:.2s linear;
}

body{
  background:var(--light-bg);
  overflow: hidden;
}

body.active{
    --black:#fff;
    --bg:#262626;
    --light-bg:#333;
    --light-color:#eee;
    --border:1px solid rgba(255,255,255,.1);
    --box-shadow:0 5px 10px rgba(0,0,0,.3);
}

#theme-open{
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 40px;
    color: var(--black);
    z-index: 10;
}


.theme-container{
    position: fixed;
    top: 0;
    right: -100%;
    background: var(--bg);
    border-left: var(--border);
    height: 100vh;
    width: 350px;
    z-index: 1000;
    text-align: right;
    padding: 20px;
}


.theme-container.active{
    right: 0;
}


.theme-container #theme-close{
    font-size: 40px;
    color: var(--black);
    cursor: pointer;
}


.theme-container h3{
    text-align: center;
    color: var(--black);
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 15px 0;
    margin: 20px;
}


.theme-container .theme-toggler{
    display: flex;
    align-items: center;
    justify-content: center;

}


.theme-container .theme-toggler span{
    color: var(--light-color);
}


.theme-container .theme-toggler .toggler{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background: var(--light-bg);
    position: relative;
    cursor: pointer;
    border: var(--border);
    margin: 0 10px;
}


.theme-container .theme-toggler .toggler::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #fff;
    transition: .2s linear;
}


.theme-container .theme-toggler.active .toggler::before{
    left: 65px;
}


.theme-container .theme-colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}



.theme-container .theme-colors .color{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.theme-container .theme-colors .color:hover{
    opacity: .5;
}


.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    margin: 10px;
    min-height: 100vh;
}

.box-container .box-content{
    background: var(--bg);
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 400px;
}


.box-container .box-content img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.box-container .box-content h3{
    color: var(--black);
    font-size: 25px;
}


.box-container .box-content p{
    color: var(--light-color);
    font-size: 15px;
    line-height: 2;
    padding: 10px 0;
}


.box-container .box-content .btn{
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
    border: var(--border);
    padding: 10px 30px;
    color: #fff;
    background-color: var(--main-color);
    font-size: 17px;
}


.box-container .box-content .btn:hover{
    opacity: .8;
    letter-spacing: 1px;
}

